.button{
  background-color: rgb(68, 21, 112);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 7px 15px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(91, 24, 153);
}